* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
:root {
  --nav-height: 58px;
  --text-xs: 12px;
  --text-s: 16px;
  --text-xm: 20px;
  --text-m: 30px;
  --text-xl: 40px;
  --text-l: 50px;

  /* color */
  --primary-color: #198754;
  --primary-tint: rgb(214, 255, 236);
  --grey-base: rgb(50, 50, 50);
  --grey-tint: rgb(75, 75, 75);
  --grey-shade: rgb(25, 25, 25);
  --white: white;
}
a {
  text-decoration: none;
  color: var(--white);
}
hr {
  border: none;
  height: 1px;
  width: calc(100% - 100px);
  background-color: #ccc;
  margin-inline: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.bi {
  font-size: var(--text-xm);
}
nav {
  height: var(--nav-height);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}
.nav-left {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.nav-left h3 {
  font-size: var(--text-xm);
  color: var(--primary-color);
  line-height: 1;
  letter-spacing: -2px;
  background-color: white;
}
.nav-left h5 {
  position: absolute;
  bottom: 4px;
  color: var(--primary-color);
  font-weight: 500;
  background-color: var(--white);
  line-height: 1;
  letter-spacing: -1px;
}
.nav-mid ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-mid ul li {
  list-style-type: none;
  font-size: var(--text-s);
}
li a {
  font-size: 14px;
  font-weight: 300;
}
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.search {
  height: 35px;
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  gap: 5px;
}
.search-input {
  border: none;
  outline: none;
  background: none;
  color: white;
}
input::placeholder {
  color: var(--white);
}
.search-input:focus {
  border: none;
  outline: none;
}
.bi-search {
  font-size: var(--text-s);
  color: var(--white);
}
.hero-section {
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 50px;
}
.left-container {
  height: 100vh;
  min-height: 100vh;
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  gap: 10px;
}
.main-title {
  width: 95%;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: var(--text-xl);
}
.main-title span {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-tint)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-second-title {
  font-size: var(--text-m);
  font-weight: 400;
  color: var(--grey-base);
  line-height: 1.2;
}
.text-second-title span {
  background: linear-gradient(to right, var(--primary-color), green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.description {
  width: 95%;
  color: var(--grey-base);
}
.hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}
.btn {
  padding: 12px 20px;
  border-radius: 12px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  outline: none;
}
.explore {
  background-color: transparent;
  color: var(--primary-color);
}
.btn .bi {
  font-size: 16px;
}
.right-container {
  height: 100vh;
  min-height: 100vh;
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container img {
  width: 100%;
  height: auto;
}
.our-partner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-inline: 50px;
  margin-bottom: 40px;
}
.our-partner .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.our-partner .logo img {
  height: 80px;
}
.explore-course {
  /* height: calc(max-content + var(--nav-height)); */
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 30px;
  margin-inline: 50px;
}
.explore-course-main-title {
  width: 100%;
  color: black;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.explore-course-main-title span {
  background-color: var(--primary-color);
  color: white;
  padding-inline: 5px;
  border-radius: 5px;
}
.en-ch-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.en-ch-course-title {
  width: 100%;
  text-align: left;
  font-size: var(--text-m);
  font-weight: 500;
}
.en-ch-course-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

/* Card */
.card {
  flex: 1;
  max-width: 50%;
  border: 1px solid rgba(25, 135, 84, 0.2);
  padding: 20px;
  border-radius: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.1);
  transition: 0.2s ease-out;
}
.card:hover {
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.2);
  transform: scale(1.01);
}

.card-title {
  color: var(--primary-color);
}
.card-btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.card-child-btn {
  padding: 8px 10px;
  border-radius: 25px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: var(--text-s);
  color: white;
  transition: 0.2s ease-out;
}
.card-child-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.5);
}
.enroll {
  background-color: transparent;
  color: var(--primary-color);
}

/* Image */
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: 0.2s ease-out;
}
.card img:hover {
  transform: scale(1.02);
}
.ai {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ai-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 10px));
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.card-ai {
  border: 1px solid rgba(25, 135, 84, 0.2);
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.1);
  transition: 0.2s ease-out;
}
.card-ai img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card-ai .card-child-btn {
  padding: 8px 10px;
  font-size: var(--text-xs);
}
.social {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 5px));
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
/* development style */
.development {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 50px;
  margin-top: 20px;
  gap: 20px;
}
.development-title {
  width: 100%;
  text-align: left;
}
.card-parent {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 20px));
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}
.dev-card {
  border: 1px solid rgba(25, 135, 84, 0.2);
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.1);
  transition: 0.2s ease-out;
}
.dev-card img {
  height: 200px;
  width: auto;
  object-fit: contain;
}
.development-card-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
/* benefit */
.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-inline: 50px;
  gap: 30px;
}
.benefit-title {
  font-size: var(--text-l);
}
.compare {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.compare h4 {
  font-size: var(--text-xm);
  letter-spacing: -1px;
  font-weight: 700;
  font-size: var(--text-m);
}
.our {
  color: var(--primary-color);
}
.bad-and-good-benefit {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2 - 10px));
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}
.good {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--primary-tint);
  border: 1px solid #19875450;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}
.good h4,
.good .bi {
  color: var(--primary-color);
}
.good p {
  font-size: var(--text-s);
}
.bad {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #ebebeb;
  border: 1px solid rgba(102, 102, 102, 0.5);
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}
.bad h4,
.bad .bi {
  color: var(--grey-shade);
}
.bad p {
  font-size: var(--text-s);
}
/* follow & contact style */
.follow-contact {
  margin-inline: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dev-btn {
  font-size: var(--text-xs);
}
.follow-us {
  height: max-content;
  width: calc(100% - 50px);
  /* border: 1px solid var(--primary-color); */
}
.contact {
  width: calc(100% - 50px);
  height: max-content;
  /* border: 1px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-input-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.contact input {
  height: 40px;
  width: calc(100%);
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 135, 84, 0.2);
  padding: 10px;
  background-color: var(--primary-tint);
  color: var(--primary-color);
  transition: 0.2s ease-out;
}
.contact input:hover,
.contact input:focus {
  box-shadow: 0 0 15px rgba(25, 135, 84, 0.3);
}
.message {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  background-color: var(--primary-tint);
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  border: 1px solid rgba(25, 135, 84, 0.2);
  border-radius: 25px;
  padding: 15px;
  resize: none;
  transition: 0.2s ease-out;
}
.message:hover,
.message:focus {
  box-shadow: 0 0 15px rgba(25, 135, 84, 0.3);
}
.message::placeholder {
  color: var(--primary-color);
}
.contact input::placeholder {
  color: var(--primary-color);
}
.contact-parent-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact-btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 25px;
  font-size: var(--text-s);
  transition: 0.2s ease-out;
}
.reset-btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  font-size: var(--text-s);
  border: 1px solid var(--primary-color);
  display: inline;
  background: none;
  color: var(--primary-color);
  transition: 0.2s ease-out;
}
.contact-btn:hover,
.reset-btn:hover {
  box-shadow: 0 0 10px rgba(25, 135, 84, 0.5);
  transform: translateY(-5px);
}
label {
  font-size: var(--text-s);
  color: var(--grey-tint);
  cursor: pointer;
}
.follow-us {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.follow-methods {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-left: 20px;
}
.follow-social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.social-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-left: 50px;
}
.follow-social a {
  background-color: var(--primary-tint);
  color: var(--primary-color);
  padding: 10px;
  text-align: center;
  width: 350px;
  border-radius: 24px;
  border: 1px solid rgba(25, 135, 84, 0.2);
  transition: 0.2s ease-out;
}
.follow-social a:hover {
  box-shadow: 0 0 15px rgba(25, 135, 84, 0.3);
}
.follow-address {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.follow-address p {
  margin-left: 50px;
  /* color: var(--primary-color);
  background-color: var(--primary-tint); */
  padding: 8px 20px;
  border-radius: 12px;
}
footer {
  position: relative;
  height: 60px;
  background-color: var(--primary-tint);
  margin-bottom: 25px;
  margin-inline: 50px;
  border-radius: 50px;
  border: 1px solid rgba(25, 135, 84, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}
.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  height: 90%;
  position: absolute;
  left: 3px;
  border-radius: 50px;
  background-color: var(--primary-color);
}
.footer-left h1 {
  text-transform: uppercase;
  font-size: var(--text-xm);
  color: var(--primary-tint);
}
.footer-mid {
  position: absolute;
  left: calc(50% - 98px);
}
.footer-right {
  position: absolute;
  right: 20px;
}
